version: '3.8'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: webcalendar_test
    ports:
      - "3307:3306"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_DB: webcalendar_test
    ports:
      - "5433:5432"
